/* /ᐠ.ꞈ.ᐟ\ ==================== || CSS Reset || ==================== /ᐠ.ꞈ.ᐟ\ */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* /ᐠ.ꞈ.ᐟ\\\\\ / ===================================

		Index 

================================================= */

/*
	~ Overview ~
		CH00 - CSS reset
		CH01 - General Styling  
		CH02 - Header Styling
		CH03 - Main Content Styling
		CH04 - footer Styling
		CH05 - Typhography
		CH06 - Link Styling 
		CH07 - Media Query 

	- - - - - - - -
	~ Colour used ~
		Purple Blue 		- #353137 	
		Light Navy Blue 	- #7980a4	
		Steel Blue 			- #eeeff0	
		Reddish brown		- #502f32	
		Dim Orange			- #cd6a4e	
		Light Pink			- #bd8f87	
	- - - - - - - - 
	~ Typhograpgy ~
		Header font stack 	-  
		Body font stack		- 
	- - - - - - - - 
	~ General Structure ~

	// decription
	selector {

		// box
		... 

		// display 
		...

		// content
		...

		// effects
		...

	}
*/

/* /ᐠ.ꞈ.ᐟ\\\\\ / ===================================

		CH01 - General Styling  

================================================= */

/* account for any border and padding in the values you specify */
html {
/* box */
	box-sizing: border-box;
}
*, *:before, *:after {
/* box */
	box-sizing: inherit;
}

body {

/* box */
	margin: 0;
  	padding: 0;
/* content */
  	font-size: 1em;
/* effects */
  	background-color: #fff;
}

/* /ᐠ.ꞈ.ᐟ\\\\\ / ===================================

		CH02 - Header and navigation Styling 

================================================= */

/* ===== header section ===== */

header {
/* box */
	margin:  0;
/* content */
	text-align: center;
/* effects */
	background-color: #eeeff0;
}

/* == shop logo == */
picture.shop-logo {
/* box */
	margin: 0 auto -1em;	/*center element */
	max-width: 150px;
	max-height: 150px;
/* display */
	display: block;
/* effect */
	border-radius: 50%;	/* create a circle background */
}

/* == top navigation bar == */
nav {
/* box  */
	padding: 1.5em;
	height: 5em;
/* effect */
	background-color: #353137;
	color: #cd6a4e;
}

#top-nav {
/* effect */
	-webkit-clip-path: polygon(0 55%, 100% 0, 100% 90%, 0% 100%); 
	clip-path: polygon(0 55%, 100% 0, 100% 90%, 0% 100%);
}

#top-nav ul{
/* box */
	padding: 1em 0;
/* effect */
	transform: rotate(-5deg);	/* rotation effect */
}

/* || bottom navigation bar || */
#bottom-nav {
/* box */
	padding-bottom: 2.5em;
	height: 3em;
}

nav ul{	
/* display */
	display: flex;	/* flex box */
	flex-direction: row;	
	justify-content: center;	/* align items horizontally */
	align-items: center;	/* align items vertically */
	gap: 1em;		/* add some space between flex items*/
	flex-wrap: nowrap;	/* allow flex items to wrap (row independent) */
}
	
ul > *{
/*display: inline-block;*/
	width: max-content;
	flex-grow: 1;		/* allow flex items to auto adjust */
	flex-shrink: 1;		/* allow flex items to shrink by themselves */
}

/* stripy awning visual effect */
.strips-upper{
/* box */
	margin-bottom: -2em;
	width: 100%;
	height: 5em;
/* effect */
	-webkit-clip-path: polygon(10% 0, 100% 100%, 100% 50%); 
	clip-path: polygon(10% 0, 100% 100%, 100% 50%);
	background-color: #7980a4;
}

.strips-lower{
/* box */
	margin-top: -70px;
	width: 100%;
	height: 6em;
/* effect */
	-webkit-clip-path: polygon(0 0, 80% 100%, 16% 84%, 0 0, 9% 83%, 0 80%, 0 0); 
	clip-path: polygon(0 0, 80% 100%, 16% 84%, 0 0, 9% 83%, 0 80%, 0 0);
	background-color: #7980a4;
}

/* information on stripy awning */
span.upper {
/* box */
	margin: 1em 0 -.5em;
/* display */
	display: block;
/* effect */
	transform: rotate(5deg);
}

span.lower {
/* box */
	margin: 0 0 1em;
/* display */
	display: block;
/* effect */
	transform: rotate(16deg);
}

/* /ᐠ.ꞈ.ᐟ\\\\\ / ===================================

		CH03 - Main Content Styling 

================================================= */

/* main section margin */
main {
/* box */
	margin: 0;
	padding-top: 2em;
/* effect */
	background-color: #cd6a4e;
	-webkit-clip-path: polygon(0 2%, 100% 0, 100% 100%, 0% 100%); 
	clip-path: polygon(0 2%, 100% 0, 100% 100%, 0% 100%);
}

/* banner - sorry fo the typical hero image */
.banner{
/* box */
margin-top: -1.5em;
	width: 90%;
	height: 150px;
/* display */
	display: block;
/* effect */
	-webkit-clip-path: polygon(0 40%, 100% 0, 90% 100%, 0% 100%); 
	clip-path: polygon(0 40%, 100% 0, 90% 100%, 0% 100%);
	border: 1px solid #502f32;
}


/* Header text on banner */
 h1, .sub {
 /* box */
 	margin:.5em;
 /* effect */
 	transform: rotate(-5deg);
 }

/* short slogan */
 .sub {
 /* box */
 	margin-left: 2em;
 /* content */
 	text-align: left;
 /* effect */
 	color: white;
 }

/* basic content container */
.content-wrap {
	margin-top: 2em;
	padding: 2em;
	height: auto;
	width: 100vw;
/* effect */
	background-color: white;
	-webkit-clip-path: polygon(0 0, 100% 2%, 100% 98%, 0 100%); 
	clip-path: polygon(0 0, 100% 2%, 100% 98%, 0 100%);
}

/* different rotaional effect for 2n+1th number element */
.content-wrap:nth-child(odd){
	-webkit-clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 98%); 
	clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 98%);
}

/* featured photo */
img.featured {
	display: block;
	max-height: 250px;
	width: 100%;
	height: 100%;
	margin: 1em auto;
	object-fit: cover;
	-webkit-clip-path: polygon(0 0, 100% 10%, 100% 90%, 30% 100%); 
	clip-path: polygon(0 0, 100% 10%, 100% 90%, 30% 100%);
}

.content-wrap p {
	margin-top: 1em;
	text-align: left;
}

/* first content container */
.content-wrap p:first-of-type {
	margin-top: 2em;
}

/* /ᐠ.ꞈ.ᐟ\\\\\ / ===================================

		CHxx - Contact us section

================================================= */

/*bottom shop logo*/
picture.small {
	display: block;
	width: 100px;
	height: 100px;
	float: left;
	margin: 1.2em 1.5em 0 .5em;
	background-color: #bd8f87;
}

/* last content container */	
.content-wrap:last-of-type {
/*  box */
	padding: 1.5em;
/* display */
/* effect */
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); 
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	background-color: #502f32;
	text-align: left;
	color: white;
}

/* white division line */
h2.underline.white {
	margin: 0 0 0 -2em;
	padding: 0 0 .8em 4em;
	background-image: url(../imgs/division-cow-white.svg);
}

/* clockwise rotation */
h2.cw {
	transform: rotate(3deg);
}

/* anti-clockwise rotation */
h2.acw {
	transform: rotate(-3deg);
}

/* offers categories */


.offers figure {
	-webkit-clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
	clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
/*	transform: rotate(-3deg);*/
	display: flex;
	flex-direction: column;

}

.offers {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap:  2em;
}

/* general image styling */
img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* image caption used with <figure> */
figcaption {
    background-color: #cd6a4e;
    color: #fff;
    padding: 3px;
    text-align: center;
}

/* might switch to float: left later */
img.side {
	-webkit-clip-path: polygon(20% 0%, 100% 0, 100% 80%, 80% 100%, 0 100%, 0% 20%); 
	clip-path: polygon(20% 0%, 100% 0, 100% 80%, 80% 100%, 0 100%, 0% 20%);

}

/* large banner */
img.categories {
*/	-webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%); 
	clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}

/* google map embedded in iFrame */
iframe.map {
	max-width: 320px;
	max-height: 220px;
	margin-top: 2em;
	-webkit-clip-path: polygon(10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 10%);
	clip-path: polygon(10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 10%);
	background-color: gray;
}


/* bottom information */
.btmWrapper {
/* box */
	margin-top: 2em;
/* display */
	display: flex;
	gap:  3em;
	justify-content: center;	/* align items horizontally */
	align-items: center;	/* align items vertically */
}

.btmInfo {
	display: flex;
	flex-direction: column;
	gap:  2em;
	justify-content: center;	/* align items horizontally */
	align-items: left;	/* align items vertically */
}

/* svg icons for contact info */
.icon {
  display: inline-block;
  float: left;
  width: 1em;
  height: 1em;
  fill: #bd8f87; /* can change to other colours */
  margin-right: .5em;
}

/* /ᐠ.ꞈ.ᐟ\\\\\ / ===================================

		CH04 - footer Styling 

================================================= */

footer p{
  color: #353137;
  height: 20px;
  font-size:.7em;
  padding-top: .8em;
}

/* /ᐠ.ꞈ.ᐟ\\\\\ / ===================================

		CH05 - Typhography

================================================= */

/* apply to all */
* {
	font-family: 'Jost', 'MS Sans Serif', Geneva, sans-serif;
}

/* h1 - will be used with banner on top */
h1 {
	font-size: 1.4em; 	/*fallback if calc() doesn't work */
	font-size: calc(1.4em + .8vw);
	text-align: center;
	color: white;
 	width: 80%;
 	background-color: #502f32;
 	padding: .4em;
}

/* h2 header with background division line applied at the bottom */
h2.underline {
	margin: 0 0 2em -2.5em;
	padding: 0 0 1em 6em;
	text-align: center;
	background-image: url(../imgs/division-cow.svg);
	background-repeat: no-repeat;
	background-position: left bottom;
	font-size: 1.3em; 	/*fallback if calc() doesn't work */
	font-size: calc(1.3em + .8vw);
	font-weight: bold;
}

/* h3 header act as sub-heading for content */
h3 {
	text-align: left;
}

/* apply header fonts */
h1, h2, h3, h4, h5, h6{
	font-family: 'IM Fell English SC','Times New Roman', Times, serif;
	font-weight: bold;
	line-height: 1.1;
}

header nav {
	font-size: 1.2em;	/*fallback if calc() doesn't work */
	font-size: calc(1.2em + .8vw);
}

p {
	font-size: 1.1em;	/*fallback if calc() doesn't work */
	font-size: calc(1.1em + .8vw);
	line-height: 1.5;
}

.banner p {
	font-size: 1.2em; 	/*fallback if calc() doesn't work */
	font-size: calc(1.2em + .8vw);
	line-height: 1.1;
}

.topInfo {
	font-size: .9em;/*fallback if calc() doesn't work */
	font-size: calc(.9em + .8vw);
}

/* /ᐠ.ꞈ.ᐟ\\\\\ / ===================================

		CH06 - Link Styling 

================================================= */

a:link, a:visited {
  color: white;
  text-decoration: none;
  
}
a:hover,  a:active, a:focus{
  color: #bd8f87;
  
}

/* /ᐠ.ꞈ.ᐟ\\\\\ / ===================================

		CH07 - Media Query 

================================================= */

@media (min-width: 650px) {
	.strips-upper, .strips-lower {
		display: none;
		position: fixed;
	}
	#top-nav {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); 
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		height: 4em;
		z-index: 2;
	}
	#top-nav ul {
		padding: 0;
		transform: rotate(0deg);
	}
	header {
	/* display */
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr); 
		grid-column-gap: 1em;
		grid-row-gap: 0;
		align-items: center;
		height: 35vh;
  		width: 100%;
	}
	main {
		padding-top: 5em;
		margin-top: -3em;
	}
	header > a { 
		grid-area: 1 / 1 / 3 / 2; 
	}
	header .upper {
		grid-area: 1 / 2 / 2 / 3; 
	}
	header .lower {
		grid-area: 2 / 2 / 3 / 3; 
	}
	header > nav {  
		grid-area: 3 / 1 / 4 / 3;
		transform: rotate(0deg);
	}
	span.upper, span.lower {
		margin: 0;
		transform: rotate(0deg);
	}
	.banner {
		width: 100%;
		height: 200px;
	}
	.offers {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
	.wrap1 {
		margin-bottom: 5em;
		display: flex;
		gap:  2rem;
	}
	.wrap1 > *{
		flex:  1;
	}
	img.featured {
		max-height: 500px;
	}
	img.side {
		max-height: 300px;
		max-width: 300px;
	}
	img.featured ~ p {
		padding: 1em;
	}
	.wrap2{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 3em;
	}
	.wrap2 > :nth-child(1) { 
		grid-area: 1 / 1 / 3 / 2; 
	}
	.wrap2 > :nth-child(2) { 
		grid-area: 1 / 2 / 2 / 3; 
		margin-top: 5em;
	}
	.wrap2 > :nth-child(3) { 
		grid-area: 2 / 2 / 3 / 3; 
	}
	h3 + ul li{
		margin-bottom: 1em;
	} 
}

@media (min-width: 950px) {
	body {
		font-size: 120%;
	}
	.offers {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}