/* /ᐠ.ꞈ.ᐟ\ ==================== || CSS Reset || ==================== /ᐠ.ꞈ.ᐟ\ */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* /ᐠ.ꞈ.ᐟ\\\\\ / ===================================

		Index 

================================================= */

/*
	~ Overview ~
		CH00 - CSS reset
		CH01 - General Styling  
		CH02 - Header Styling
		CH03 - Main Content Styling
		CH04 - footer Styling
		CH05 - Typhography
		CH06 - Link Styling 
		CH07 - Media Query 

	- - - - - - - -
	~ Colour used ~
		Purple Blue 		- #353137 	
		Light Navy Blue 	- #7980a4	
		Steel Blue 			- #eeeff0	
		Reddish brown		- #502f32	
		Dim Orange			- #cd6a4e	
		Light Pink			- #bd8f87	
	- - - - - - - - 
	~ Typhograpgy ~
		Header font stack 	- 
		Body font stack		- 
	- - - - - - - - 
	~ General Structure ~
	selector {
		// box model
		... 
		// content-related
	}
*/

/* /ᐠ.ꞈ.ᐟ\\\\\ / ===================================

		CH01 - General Styling  

================================================= */

/* account for any border and padding in the values you specify */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	/* box model */
	margin: 0;
  	padding: 0;

	/* content-related */
  	font-size: 1em;

	/* colours */
  	background-color: #fff;
}

/* /ᐠ.ꞈ.ᐟ\\\\\ / ===================================

		CH02 - Header Styling 

================================================= */

/*header section*/
header {
	/* box model */
	margin:  0;

	/* content-related */
	text-align: center;

	/* colours */
	/*background-color: #eeeff0;*/
	background-color: #eeeff0;
}

/* shop logo  */
picture.shop-logo {
	/* box model */
	margin: 0 auto;	/*center element */
	max-width: 150px;
	max-height: 150px;

	/* display type */
	display: block;

	/* effect */
	border-radius: 50%;	/* create a circle background */
}

/* top navigation bar */
#top-nav {
	margin-top: -1em;
	height: 5em;
	-webkit-clip-path: polygon(0 55%, 100% 0, 100% 90%, 0% 100%); 
	clip-path: polygon(0 55%, 100% 0, 100% 90%, 0% 100%);
	background-color: #353137;
	color: #cd6a4e;
}

#top-nav ul{
	transform: rotate(-5deg);	/* rotation effect */
}

nav li{
	display: inline-block;
}

#top-nav li{
	margin: 1em 0em;
}

/* stripy awning visual effect */
.strips-upper{
	margin-bottom: -2em;
	height: 80px;
	width: 100%;
	-webkit-clip-path: polygon(10% 0, 100% 100%, 100% 50%); 
	clip-path: polygon(10% 0, 100% 100%, 100% 50%);
	background-color: #7980a4;
}

.strips-lower{
	margin-top: -70px;
	height: 100px;
	width: 100%;
	-webkit-clip-path: polygon(0 0, 80% 100%, 16% 84%, 0 0, 9% 83%, 0 80%, 0 0); 
	clip-path: polygon(0 0, 80% 100%, 16% 84%, 0 0, 9% 83%, 0 80%, 0 0);
	background-color: #7980a4;
}

/* information on stripy awning */
span.upper {
	margin-top: 1em;
	margin-bottom: -1em;
	display: block;
	margin-left: 5em;
	transform: rotate(5deg);
}

span.lower {
	margin-top: .5em;
	display: block;
	margin-left: 5em;
	transform: rotate(16deg);
}

/* /ᐠ.ꞈ.ᐟ\\\\\ / ===================================

		CH03 - Main Content Styling 

================================================= */

/* main section margin */
main {
	margin: 0;
	padding-top: 3em;
	background-color: #cd6a4e;
	-webkit-clip-path: polygon(0 2%, 100% 0, 100% 100%, 0% 100%); 
	clip-path: polygon(0 2%, 100% 0, 100% 100%, 0% 100%);
}

/* banner - sorry fo the typical hero image */
.banner{
	display: block;
	position: relative;
	height: 150px;
	width: 90%;
	-webkit-clip-path: polygon(0 40%, 100% 0, 90% 100%, 0% 100%); 
	clip-path: polygon(0 40%, 100% 0, 90% 100%, 0% 100%);
	border: 1px solid #502f32;
}


/* Header text on banner */
 h1, .sub {
 	margin-top: 1em;
 	margin-bottom: -.5em;
 	margin-left: .2em;
 	padding: 0;
 	transform: rotate(-5deg);
 }

/* short slogan */
 .sub {
 	color: white;
 	text-align: left;
 	margin-left: 2em;
 }

/* basic content container */
.content-wrap {
	position: relative;
	margin-top: 1.2em;
	padding: 2em;
	height: auto;
	width: 100vw;
	background-color: white;
	-webkit-clip-path: polygon(0 0, 100% 2%, 100% 98%, 0 100%); 
	clip-path: polygon(0 0, 100% 2%, 100% 98%, 0 100%);
}

/* different rotaional effect for 2n+1th number element */
.content-wrap:nth-child(odd){
	-webkit-clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 98%); 
	clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 98%);
}

/* featured photo */
img.featured {
	display: block;
	max-height: 250px;
	width: 100%;
	height: 100%;
	margin: 1em auto;
	object-fit: cover;
	-webkit-clip-path: polygon(0 0, 100% 10%, 100% 90%, 30% 100%); 
	clip-path: polygon(0 0, 100% 10%, 100% 90%, 30% 100%);
}

.content-wrap p {
	margin-top: 1em;
	text-align: left;
}

/* first content container */
.content-wrap p:first-of-type {
	margin-top: 2em;
}

/* /ᐠ.ꞈ.ᐟ\\\\\ / ===================================

		CHxx - Contact us section

================================================= */

/*bottom shop logo*/
picture.small {
	display: block;
	width: 100px;
	height: 100px;
	float: left;
	margin: 1.2em 1.5em 0 .5em;
	background-color: #bd8f87;
}

/* last content container */	
.content-wrap:last-of-type {
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); 
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	background-color: #502f32;
	text-align: left;
	color: white;
	margin: 0;
	padding: 1.5em;
}

/* white division line */
h2.underline.white {
	margin: 0 0 0 -2em;
	padding: 0 0 .8em 4em;
	background-image: url(../imgs/division-cow-white.svg);
}

/* clockwise rotation */
h2.cw {
	transform: rotate(3deg);
}

/* anti-clockwise rotation */
h2.acw {
	transform: rotate(-3deg);
}

/* offers categories */
.offers {
	display: flow-root; /* prevents element collapsing around floated children */
}

.offers figure {
	float: left;	/* 2 per row */
	max-width: 250px;
	max-height: 250px;
	width: 48%;	/* one image wide (mobile first default < 650px) */
	height:  auto;	/* to maintain aspect ratio */
	margin-top: 1em;
	background-color: #eeeff0;
	-webkit-clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
	clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
/*	transform: rotate(-3deg);*/
}

.offers figure:nth-child(even) { /* selecting even images */
	margin-left: 4%;
}

/* unorder list styling for the main section */
ul {
	text-align: left;
	padding: 1em;
	text-indent: .5em;
	font-size: .9em;
	line-height: 1.5em;
}

/* general image styling */
img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* image caption used with <figure> */
figcaption {
    background-color: #cd6a4e;
    color: #fff;
    padding: 3px;
    text-align: center;
}

/* might switch to float: left later */
img.side {
	display: block;
	width: 250px;
	height: auto;
	margin: 2em auto;
	-webkit-clip-path: polygon(20% 0%, 100% 0, 100% 80%, 80% 100%, 0 100%, 0% 20%); 
	clip-path: polygon(20% 0%, 100% 0, 100% 80%, 80% 100%, 0 100%, 0% 20%);

}

/* large banner */
img.categories {
	margin: 2em auto;
	-webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%); 
	clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}

/* google map embedded in iFrame */
iframe.map {
	max-width: 320px;
	max-height: 220px;
	margin-top: 2em;
	-webkit-clip-path: polygon(10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 10%);
	clip-path: polygon(10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 10%);
	background-color: gray;
}

/* adress info at the bottom */
address a{
	display: block;
	margin-top: 1em;
}

/* bottom information */
div.btmInfo {
	display: block;
	height: 120px;
	width: auto;
	margin: 1em auto;
	padding: .2em;
}

div.btmInfo p {
	font-size: .8em;
	text-align: left;
	line-height: 1em;
}

/* svg icons for contact info */
.icon {
  display: inline-block;
  float: left;
  width: 1em;
  height: 1em;
  fill: #bd8f87; /* can change to other colours */
  margin-right: 1em;
}

/* bottom navigation bar */
#bottom-nav {
	max-height: 80px;
}

/* /ᐠ.ꞈ.ᐟ\\\\\ / ===================================

		CH04 - footer Styling 

================================================= */

/* footer section */
footer nav{
  background-color: #353137;
  color: #cd6a4e;
}

footer p{
  color: #353137;
  height: 20px;
  font-size:.7em;
  padding-top: .8em;
}

#bottom-nav li{
	margin: .5em .4em;
}


/* /ᐠ.ꞈ.ᐟ\\\\\ / ===================================

		CH05 - Typhography

================================================= */

/* apply to all */
* {
	font-family: 'Jost', 'MS Sans Serif', Geneva, sans-serif;
}

/* h1 - will be used with banner on top */
h1 {
	font-size: 1.6em; 	/*fallback if calc() doesn't work */
	font-size: calc(1.6em + .8vw);

	color: white;
 	max-width: 380px;
 	background-color: #502f32;
 	padding: .4em;
}

/* h2 header with background division line applied at the bottom */
h2.underline {
	margin: 0 0 0 -2.5em;
	padding: 0 0 1em 6em;
	text-align: center;
	background-image: url(../imgs/division-cow.svg);
	background-repeat: no-repeat;
	background-position: left bottom;
	font-size: 1.3em; 	/*fallback if calc() doesn't work */
	font-size: calc(1.3em + .8vw);
	font-weight: bold;
}

/* h3 header act as sub-heading for content */
h3 {
	text-align: left;
}

/* apply header fonts */
h1, h2, h3, h4, h5, h6{
	font-family: 'IM Fell English SC','Times New Roman', Times, serif;
	font-weight: bold;
	line-height: 1.1;
	margin: .5em auto;
}

header nav {
	font-size: 1.2em;	/*fallback if calc() doesn't work */
	font-size: calc(1.2em + .8vw);
}

p {
	font-size: 1.1em;	/*fallback if calc() doesn't work */
	font-size: calc(1.1em + .8vw);
	line-height: 1.5;
}

.banner p {
	font-size: 1.2em; 	/*fallback if calc() doesn't work */
	font-size: calc(1.2em + .8vw);
	line-height: 1.1;
}

.topInfo {
	font-size: .9em;/*fallback if calc() doesn't work */
	font-size: calc(.9em + .8vw);
}

/* /ᐠ.ꞈ.ᐟ\\\\\ / ===================================

		CH06 - Link Styling 

================================================= */

a:link, a:visited {
  color: white;
  text-decoration: none;
  
}
a:hover,  a:active, a:focus{
  color: #bd8f87;
  
}

/* /ᐠ.ꞈ.ᐟ\\\\\ / ===================================

		CH07 - Media Query 

================================================= */

@media (min-width: 650px) {
	picture.shop-logo {
		max-width: 250px;
		max-height: 250px;
	}
	picture.small {
		width: 180px;
		height: 180px;
	}
	#top-nav {
		height: 9em;
	}
	#top-nav li {
		margin: 2em 0em;
		padding: .5em;
		font-size: 160%;
	}	
	.strips-upper {
		height: 110px;
		width: 100%;
	}
	.strips-lower {
		height: 120px;
		width: 100%;
	}
	span.upper, span.lower {
		font-size: 150%;
	}	
	span.lower {
		margin: -2em 0;
		transform: rotate(10deg);
	}
	.banner{
		height: 300px;
	}
	.content-wrap {
		margin: 3em auto;
		padding: 2em 2em;
	}
	img.featured {
		max-height: 400px;
		max-width: 500px;
	}
	img.side {
		width: 400px;
		height: auto
	}
	.offers figure{
		max-width: 400px;
		max-height: 400px;
	}
	iframe.map {
		max-width: 600px;
		max-height: 400px;
	}
	div.btmInfo {
		margin: .5em;
		height: 300px;
	}
	div.btmInfo p {
		line-height: 2.2em;
	}
	address a{
		margin: 1em 3em;
	}
	.icon {
		width: .5em;
  		height: .5em;
  		margin-right: .5em;
	}
	#bottom-nav {
		height: 120px;
	}
	#bottom-nav li{
		margin-left: 6.5em;
	}
	footer p {
		padding: 1em 0;
	}
	/* header styling */
	*{
		font-size: 150%;
	}
	h1 {
		max-width: 850px;
	}
	h2.underline, h3, h4, h5 ,h6{
		margin-bottom: 1em;
	}
}

@media (min-width: 950px) {
	body{
		max-width: 1250px;
		margin: 1em auto;
	}
	picture.shop-logo {
		max-width: 300px;
		max-height: 300px;
	}
	picture.small {
		width: 120px;
		height: 120px;
		padding: 0;
		margin: .5em;
	}
	#top-nav {
		height: 10em;
	}
	#top-nav ul{
		transform: rotate(-3deg);
	}
	#top-nav li {
		margin: 1.5em 0;
		padding: .8em;
		font-size: 200%;
	}	
	.strips-upper {
		height: 150px;
		width: 100%;
	}
	.strips-lower {
		height: 180px;
		width: 100%;
	}
	span.upper, span.lower {
		font-size: 200%;
	}	
	span.lower {
		margin: 0;
	}
	.banner{
		height: 350px;
	}
	.content-wrap {
		max-width: 1250px;
		margin: 1em auto;
	}
	img.featured {
		max-height: 550px;
		max-width: 800px;
	}
	img.side {
		width: 600px;
		height: auto;
	}
	.offers figure{
		max-width: 300px;
		max-height: 300px;
		width: 30%;
		margin-left: 4%;
	}
	.offers img{
		width: 80%;
		height: auto;
		margin: 0 auto;
	}
	iframe.map {
		max-width: 800px;
		max-height: 600px;
		width: 100%;
	}
	div.btmInfo {
		margin-right: .5em;
		padding: 0;
		height: 150px;
		width: 500px;
		float: right;
		font-size: 80%;
	}
	div.btmInfo p {
		line-height: 1em;
	}
	#bottom-nav {
		height: 120px;
	}
	#bottom-nav li{
		margin-left: 8em;
		font-size: 150%;
	}
	address a {
		font-size: 80%;
	}
	footer p {
		font-size: 100%;
		text-align: center;
	}
	/* header styling */
	*{
		font-size: 200%;
	}
	h1 {
		max-width: 850px;
	}
}